<img class="banner" src="../images/Banner.png" alt="">

<div class = "form">
    <h2>EDIT POST</h2>

    <form action="/tattoos/<%= tattoo.id %>" method="post">
        <input type="hidden" value="put" name="_method">
        <label for="">TITLE</label>
        <input type="text" name="title" value="<%= tattoo.title %>">
        <label for="">IMAGE URL</label>
        <input type="text" name="image_url" value="<%= tattoo.image_url %>">
        <label for="">TATTOO ARTIST</label>
        <input type="text" name="artist" value="<%= tattoo.artist %>">
        
        <label for="">CATEGORY</label>
        <select name="category" id="category" value="<%= tattoo.category %>">
            <option value="<%= tattoo.category %>"><%= tattoo.category.toUpperCase() %></option>
            <option value="floral">FLORAL</option>
            <option value="animal">ANIMAL</option>
            <option value="nature">NATURE</option>
            <option value="food">FOOD</option>
            <option value="geometric">GEOMETRIC</option>
            <option value="lettering">LETTERING</option>
            <option value="portrait">PORTRAIT</option>
            <option value="other">OTHER</option>
        </select>

        <button class="update-btn">Update</button>
    </form>
</div>