<h2>Hello, <%= username.toUpperCase() %> !</h2>

<main>
    <% for (let tattoo of tattoos) {%>
    
        <a href="/tattoos/<%= tattoo.id %>"><img class = "grid-image" src="<%= tattoo.image_url %>" alt="<%= tattoo.title %>"></a>
        
    <% } %>
</main>

<h2>Tattoos you're loving:</h2>

<main>
    <% for (let likedTattoo of likedTattoos) {%>
    
        <a href="/tattoos/<%= likedTattoo.id %>"><img class = "grid-image" src="<%= likedTattoo.image_url %>" alt="<%= likedTattoo.title %>"></a>
        
    <% } %>
</main>
