<main class="show-wrapper">
    <section>
        
        <h2 class = "tattoo-title"><%= tattoo.title.toUpperCase() %></h2>
        <h3>Tattooed by <a href="/artist/<%= tattoo.artist %>"><%= tattoo.artist.toUpperCase() %></a></h3>

        <% if (userId === tattoo.user_id) {%>
            <h4>Shared by you</h4>
        <% } else { %>
            <h4>Shared by <a href="/user/<%= tattoo.username %>"><%= tattoo.username.toUpperCase() %></a></h4>
        <% } %>
        
        <form action="/tattoos/like/<%= tattoo.id %>" method="post">
            <input type="hidden" value="put" name="_method">
            <button class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg></button>
            <p><%= tattoo.likes %> LIKES</p>
        </form>

        <% if (userId === tattoo.user_id) {%>
            <form action="/tattoos/<%= tattoo.id %>" method="post">
                <input type="hidden" value="delete" name="_method">
                <button>Delete</button>
            </form>
            <a href="/tattoos/<%= tattoo.id %>/edit">Edit</a>
        <% } else { %>
            <p></p>
        <% } %>

        <h5>POSTED ON: <%= tattoo.date_posted %></h5>

    </section>
    <img class = "show-image" src="<%= tattoo.image_url %>" alt="<%= tattoo.title %>">
</main>    

<h2>You may also be interested in...</h2>

<main>
    <% for (let similarTattoo of similarTattoos) {%>
    
        <a href="/tattoos/<%= similarTattoo.id %>"><img class = "grid-image" src="<%= similarTattoo.image_url %>" alt="<%= similarTattoo.title %>"></a>
        
    <% } %>
</main>