<main class="show-wrapper">
    <section>
        <h2 class = "tattoo-title"><%= tattoo.title.toUpperCase() %></h2>
        <h5>POSTED ON: <%= tattoo.date_posted %></h5>
        <h3>Tattooed by <a href="/artist/<%= tattoo.artist %>"><%= tattoo.artist.toUpperCase() %></a></h3>

        <% if (userId === tattoo.user_id) {%>
            <h4>Shared by you</h4>
        <% } else { %>
            <h4>Shared by <a href="/user/<%= tattoo.username %>"><%= tattoo.username.toUpperCase() %></a></h4>
        <% } %>

        <div class="comment-container">  
        <h3 class="comment-heading">COMMENTS</h3> 
            <% for (let comment of comments) {%>
                <div class="comment-wrapper">
                <p><%=comment.username.toUpperCase()%> SAID: <%= comment.comment%></p>
                <% if (comment.userposted_id === userId) {%>
                    <form action="/tattoos/comments/<%= comment.id %>" method="post">
                        <input type="hidden" value="delete" name="_method">
                        <button class="delete-btn"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
                <% } %>
            <% } %>
        </div>  
        
        <form class = "comment-form" action="/tattoos/comments/<%= tattoo.id %>" method="post">
            <input class = "comment-input" type="text" name="comments" placeholder="COMMENT HERE">
            <button class="comment-btn">ADD COMMENT</button>
        </form>
    </section>
    <img class = "show-image" src="<%= tattoo.image_url %>" alt="<%= tattoo.title %>">
</main>    

<div class = "actions-bar">    
    <% if (alreadyLiked) { %>
        <form action="/tattoos/like/<%= tattoo.id %>" method="post">
            <input type="hidden" value="delete" name="_method">
            <button class="dislike-btn"><i class="bi bi-heart"></i></button>
        </form>
    <% } else { %>
        <form action="/tattoos/like/<%= tattoo.id %>" method="post">
            <input type="hidden" value="put" name="_method">
            <button class="like-btn"><i class="bi bi-heart" style="font-size: 1rem;"></i></button>
        </form>
    <% } %>

    <p><%= tattoo.likes %> LIKES</p>

    <% if (userId === tattoo.user_id) {%>
        <form action="/tattoos/<%= tattoo.id %>" method="post">
            <input type="hidden" value="delete" name="_method">
            <button class="delete-btn"><i class="bi bi-trash" style="font-size: 1.5rem;"></i></button>
        </form>
        <a class="edit-btn" href="/tattoos/<%= tattoo.id %>/edit"><i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i></a>
    <% } %>
    <a class="add-btn" href="/tattoos"><i class="bi bi-plus-square" style="font-size: 1.5rem;"></i></a>
</div>

<h2>You may also be interested in...</h2>

<main>
    <% for (let similarTattoo of similarTattoos) {%>
    
        <a href="/tattoos/<%= similarTattoo.id %>"><img class = "grid-image" src="<%= similarTattoo.image_url %>" alt="<%= similarTattoo.title %>"></a>
        
    <% } %>
</main>