<main class="show-wrapper">
    <section>
        
        <h2><%= tattoo.title.toUpperCase() %></h2>
        <h3>Tattooed by <a href="/artist/<%= tattoo.artist %>"><%= tattoo.artist.toUpperCase() %></a></h3>

        <% if (userId === tattoo.user_id) {%>
            <h4>Shared by you</h4>
        <% } else { %>
            <h4>Shared by <a href="/user/<%= tattoo.username %>"><%= tattoo.username.toUpperCase() %></a></h4>
        <% } %>

        
        <h5>Posted on <%= tattoo.date_posted %></h5>


        <% if (userId === tattoo.user_id) {%>
            <form action="/tattoos/<%= tattoo.id %>" method="post">
                <input type="hidden" value="delete" name="_method">
                <button>Delete</button>
            </form>
            <a href="/tattoos/<%= tattoo.id %>/edit">Edit</a>
        <% } else { %>
            <p></p>
        <% } %>

    </section>
    <img class = "show-image" src="<%= tattoo.image_url %>" alt="<%= tattoo.title %>">
</main>    


